/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* font variable */
/* color variable */
/* header */
.logo_font {
  font-family: "Shrikhand";
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 4px 5px #d4d4d4;
          box-shadow: 0px 4px 5px #d4d4d4;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 375px) {
  .logo_font {
    text-align: none;
  }
}

/* localisation */
.localisation {
  background-color: #eaeaea;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon_localiser {
  color: #474747;
}

.position {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-left: 12px;
  color: #474747;
}

/* explorer */
.explorer {
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 100%;
  height: 200px;
  background-color: #f6f6f6;
}

.title_explorer {
  font-weight: 600;
  line-height: 25px;
  width: 250px;
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}

.explorer_bio {
  font-weight: 200;
  line-height: 25px;
  width: 270px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.btn_explorer {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 186px;
  border: none;
  border-radius: 40px;
  background: #9356dc;
  background: linear-gradient(358deg, #9356dc 0%, #ff79da 100%);
}

.font-explorer {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

/* fonctionnement */
.fonctionnement {
  width: 100%;
}

.title_fonctionnement {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 40px;
  margin-left: 20px;
}

.nav_fonction {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .nav_fonction {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .nav_fonction {
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  .nav_fonction {
    margin-left: none;
    margin-right: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card_fonction {
  position: relative;
}

.number {
  position: absolute;
  top: 22px;
  left: -8px;
  border: 1px solid none;
  background-color: #9356DC;
  border-radius: 100%;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: white;
}

.btn_fonction {
  width: 300px;
  border: 1px solid none;
  border-radius: 10px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 23.5px;
  padding-bottom: 23.5px;
  background-color: #f6f6f6;
  -webkit-box-shadow: 2px 2px 2px 2px #ebebeb;
          box-shadow: 2px 2px 2px 2px #ebebeb;
}

.btn_fonction:hover {
  background-color: #f5edff;
}

.icon_mobile {
  margin-left: 30px;
  color: #7e7e7e;
}

.icon_bar {
  margin-left: 30px;
  color: #7e7e7e;
}

.icon_store {
  margin-left: 30px;
  color: #7e7e7e;
}

.text_btn_fonction {
  margin-left: 30px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

/* link page */
.link_page {
  text-decoration: none;
  color: black;
}

/* restaurant */
.restaurant {
  background-color: #f6f6f6;
  margin-top: 40px;
  padding-bottom: 20px;
}

.main_title_restaurant {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 40px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.restaurant_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

@media screen and (max-width: 1366px) {
  .restaurant_card {
    width: 70%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
  }
}

@media screen and (max-width: 1024px) {
  .restaurant_card {
    width: 98%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }
}

@media screen and (max-width: 375px) {
  .restaurant_card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.box_restaurant {
  -webkit-box-shadow: 2px 2px 2px 2px  #ebebeb80;
          box-shadow: 2px 2px 2px 2px  #ebebeb80;
  width: 335px;
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  position: relative;
  margin-bottom: 30px;
}

.box_restaurant:hover {
  -webkit-box-shadow: 2px 2px 2px 2px  #ddddddb4;
          box-shadow: 2px 2px 2px 2px  #ddddddb4;
}

.new {
  width: 60px;
  position: absolute;
  top: 15px;
  right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  background-color: #99e2d0;
  color: #39a98e;
}

.img_restaurant_1 {
  width: 335px;
  height: 175px;
  background-image: url(../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 20px;
}

.img_restaurant_2 {
  width: 335px;
  height: 175px;
  background-image: url(../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 20px;
}

.img_restaurant_3 {
  width: 335px;
  height: 175px;
  background-image: url(../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 20px;
}

.img_restaurant_4 {
  width: 335px;
  height: 175px;
  background-image: url(../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 20px;
}

.title_restaurant {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 10px;
}

.restaurant_position {
  font-family: "Roboto", sans-serif;
  margin-left: 10px;
  margin-bottom: 10px;
}

.icon_heart {
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 0;
}

.icon_heart:hover {
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #9356dc;
  background: -webkit-linear-gradient(195deg, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: FadeIn .5s forwards;
          animation: FadeIn .5s forwards;
}

.icon_heart_outline {
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 1;
  color: black;
}

.containerheart:hover .icon_heart_outline {
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  visibility: hidden;
  opacity: 0;
}

/* footer */
.footer {
  background-color: #353535;
  padding-top: 20px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0 auto;
}

@media screen and (max-width: 375px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
}

.logo_footer {
  font-family: "Shrikhand";
  font-size: 20px;
  color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  position: relative;
}

.footer_text {
  font-family: "Roboto", sans-serif;
  color: white;
  padding-left: 20px;
  margin-bottom: 10px;
  text-decoration: none;
}

.fa-utensils {
  padding-right: 5px;
}

.fa-hands-helping {
  font-size: 12px;
  padding-right: 5px;
}

/* animation */
@-webkit-keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*Loading spinner */
spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  background-color: rgba(114, 114, 114, 0.4);
  -webkit-animation: rmspinner 3s forwards;
          animation: rmspinner 3s forwards;
}

.loading_spinner {
  position: relative;
  height: 60px;
  width: 60px;
}

.loading_spinner::before {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: 3px solid #F2F2F2;
  border-top-color: #9356DC;
  -webkit-animation: spinner 2s linear infinite;
          animation: spinner 2s linear infinite;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rmspinner {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rmspinner {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */