/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/* font variable */

$mainfont: 'Roboto', sans-serif;  
$font_brand: 'Shrikhand';

/* color variable */

$maincolor : #9356DC ;
$secondcolor : #FF79DA ;
$thirdcolor : #99E2D0 ;

/* header */
.logo_font{
    font-family: $font_brand;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    width: 100%;
}

.fa-arrow-left{
    position: absolute;
    left: 20px;
    top: 23px;
    font-size: 20px;
    color: black;
}

/* img restaurant */
.img_restaurant_1{
    height: 280px;
    background-image: url(../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    position: relative;
}

.img_restaurant_2{
    height: 280px;
    background-image: url(../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    position: relative;
}

.img_restaurant_3{
    height: 280px;
    background-image: url(../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    position: relative;
}

.img_restaurant_4{
    height: 280px;
    background-image: url(../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    position: relative;
}
/* menu */

.menu_card{
    width: 100%;
    border-radius: 50px 50px 0px 0px;
    padding-top: 40px;
    position: relative;
    top: -50px;
    background-color: white;
    background-color: #F2F2F2;
    padding-bottom: 20px;
}

@media screen and (max-width: 1366px){
    .menu_card{
        width: 1366px;
    }
}

@media screen and (max-width: 1024px){
    .menu_card{
        width: 1024px;
    }
}

@media screen and (max-width: 768px){
    .menu_card{
        width: 768px;
    }
}

@media screen and (max-width: 375px){
    .menu_card{
        width: 375px;
    }
}

.restaurant_name{
    font-family: $font_brand;
    font-size: 28px;
    margin-left: 30px;
    position: relative;
    padding-bottom: 40px;
}

/* heart (:hover) */

.icon_heart{
    font-size: 25px;
    position: absolute;
    top: 40px;
    right: 40px;
    opacity: 0;
}

.icon_heart:hover{
    font-size: 25px;
    position: absolute;
    top: 40px;
    right: 40px;
    color: rgb(147,86,220);
    background: -webkit-linear-gradient(195deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: FadeIn .5s forwards;
}

.icon_heart_outline{
    font-size: 25px;
    position: absolute;
    top: 40px;
    right: 40px;
    opacity: 1;
    color: black;
}

.containerheart:hover .icon_heart_outline{
    font-size: 25px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    visibility: hidden;
    opacity: 0;
}


.card{
    width: 100%;
    display: flex;
    justify-content: space-around;

}

@media screen and (max-width: 1366px){
    .card{
        width: 1366px;
        flex-direction: column;
    }
}

@media screen and (max-width: 1024px){
    .card{
        width: 1024px;
    }
}

@media screen and (max-width: 768px){
    .card{
        width: 768px;
    }
}

@media screen and (max-width: 375px){
    .card{
        width: 375px;
    }
}

/* starter */

.starter{
    width: 400px;
}

@media screen and (max-width: 1366px){
    .starter{
        width: auto;
    }
}

.starter_title{
    font-family: $mainfont;
    margin-left: 30px;
    font-weight: 300;
    border-bottom: 3px solid $thirdcolor ;
    line-height: 30px;
    width: 40px;
    margin-bottom: 20px;
}

.starter_menu{
    position: relative;
    box-shadow: 5px 5px 5px 5px #e6e6e6;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 12px;
    margin-bottom: 20px;
    background-color: #FFF;
    animation: slideUp 2s;
    overflow: hidden;
}

.text_starter{
    display: flex;
    flex-direction: column;
}

.starter_name{
    font-family: $mainfont;
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 10px;
}

.starter_detail{
    font-family: $mainfont;
    font-size: 14px;
    font-weight: 300;
    text-overflow: ellipsis;
}

.price{
    font-family: $mainfont;
    font-weight: 500;
    position: absolute;
    bottom: 10px;
    right: 20px;
} 

.checkmark{
    padding: 17.5px;
    background-color: $thirdcolor;
    border-radius: 0px 15px 15px 0px;
    position: absolute;
    bottom: 0.5px;
    right: 0px;
    opacity: 0;
}

.fa-check-circle{
    color: white;
    font-size: 30px;
}

/* starter animation */
.starter_menu:hover .checkmark{
    animation: slideLeft 1s forwards;
}

.starter_menu:hover .starter_name{
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    margin: 0;
}

.starter_menu:hover .price{
    animation: priceposition 1s forwards;
}

.starter_menu:hover .starter_detail{
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    margin: 0;
} 

.starter_menu:hover .fa-check-circle{
    animation: rotateCheckmark 1s forwards;
}

/* dish */

.dish{
    width: 400px;
}

@media screen and (max-width: 1366px){
    .dish{
        width: auto;
    }
}

.dish_title{
    font-family: $mainfont;
    margin-left: 30px;
    font-weight: 300;
    border-bottom: 3px solid $thirdcolor ;
    line-height: 30px;
    width: 40px;
    margin-bottom: 20px;
}

.dish_menu{
    position: relative;
    box-shadow: 5px 5px 5px 5px #e6e6e6;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 12px;
    margin-bottom: 20px;
    background-color: #FFF;
    animation: slideUp 2s;
    overflow: hidden;
}

.text_dish{
    display: flex;
    flex-direction: column;
}

.dish_name{
    font-family: $mainfont;
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 10px;
}

.dish_detail{
    font-family: $mainfont;
    font-size: 14px;
    font-weight: 300;
}

.price{
    font-family: $mainfont;
    font-weight: 500;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

/* dish animation */


.dish_menu:hover .checkmark{
    animation: slideLeft 1s forwards;
}

.dish_menu:hover .dish_name{
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    margin: 0;
}

.dish_menu:hover .price{
    animation: priceposition 1s forwards;
}

.dish_menu:hover .dish_detail{
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    margin: 0;
} 

.dish_menu:hover .fa-check-circle{
    animation: rotateCheckmark 1s forwards;
}

/* dessert */

.dessert{
    width: 400px;
}

@media screen and (max-width: 1366px){
    .dessert{
        width: auto;
    }
}

.dessert_title{
    font-family: $mainfont;
    margin-left: 30px;
    font-weight: 300;
    border-bottom: 3px solid $thirdcolor ;
    line-height: 30px;
    width: 40px;
    margin-bottom: 20px;
}

.dessert_menu{
    position: relative;
    box-shadow: 5px 5px 5px 5px #e6e6e6;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 12px;
    margin-bottom: 20px;
    background-color: #FFF;
    animation: slideUp 2s;
    overflow: hidden;
}

.text_dessert{
    display: flex;
    flex-direction: column;
}

.dessert_name{
    font-family: $mainfont;
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 10px;
}

.dessert_detail{
    font-family: $mainfont;
    font-size: 14px;
    font-weight: 300;
}

.price{
    font-family: $mainfont;
    font-weight: 500;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

/* dessert animation */


.dessert_menu:hover .checkmark{
    animation: slideLeft 1s forwards;
}

.dessert_menu:hover .dessert_name{
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    margin: 0;
}

.dessert_menu:hover .price{
    animation: priceposition 1s forwards;
}

.dessert_menu:hover .dessert_detail{
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    margin: 0;
}

.dessert_menu:hover .fa-check-circle{
    animation: rotateCheckmark 1s forwards;
}

/* order */

.order{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.btn_order{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 40px;
    background: rgb(147,86,220);
    background: linear-gradient(358deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
}

.font-order{
    color: white;
    font-family: $mainfont;
    font-weight: 500;
    font-size: 15px;
}

/* footer */

.footer{
    background-color: #353535;
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    align-items: baseline;
    margin: 0 auto;
}

@media screen and (max-width: 375px){
    .footer{
        flex-direction: column;
        align-items: left;
    }
}
.logo_footer{
    font-family: $font_brand;
    font-size: 20px;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;   
}

.footer_text{
    font-family: $mainfont;
    color: white;
    padding-left: 20px;
    margin-bottom: 10px;
    text-decoration: none;
}

.fa-utensils{
    padding-right: 5px;
}

.fa-hands-helping{
    font-size: 12px;
    padding-right: 5px;
}


/* animation zone */

@keyframes slideUp{
    from{
        transform: translateY(30px);
        opacity: 0;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft{
    from{
        transform: translateX(40px);
        opacity: 1;
    }

    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes priceposition{
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-60px);
    }
}

@keyframes rotateCheckmark{
    from{
        transform: rotate(0);
    }

    to{
        transform: rotate(360deg);
    }
}

@keyframes FadeIn {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}